{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if user.name %}
        <h1 class="font-allerta-stencil">{{ user.name }}</h1>
    {% else %}
        <h2 class="font-allerta-stencil">{{ user.username }}</h2>
    {% endif %}

    {% if user.bio %}
        <p><em>{{ user.bio }}</em></p>
    {% endif %}

    {% if courses|length > 0 %}
        <h4 class="font-open-sans"><strong>Mentor for Courses:</strong></h4>
        {% for assoc in courses %}
            <p><strong>{{ assoc.course.department.abbr }} {{ assoc.course.number }}</strong>: {{ assoc.course.name }}</p>
        {% endfor %}
    {% endif %}

    {% if user == current_user %}
        <p><a href="{{ url_for('edit_account') }}"><button class="bg-yellow text-black">Edit your account information</button></a></p>
        {% if sent|length > 0 %}
            <h5>Received Help Requests From:</h5>
            {% for request in sent %}
                <p><a href="{{ url_for('account',username=request.username) }}" style="color: #F9D33B">
                    {% if request.name %}
                        {{ request.name }}
                    {% else %}
                        {{ request.username }}
                    {% endif %}
                </a></p>
            {% endfor %}
        {% endif %}

        {% if received|length > 0 %}
            <h5>Sent Help Requests To:</h5>
            {% for request in received %}
                <p><a href="{{ url_for('account',username=request.username) }}" style="color: #F9D33B">
                    {% if request.name %}
                        {{ request.name }}
                    {% else %}
                        {{ request.username }}
                    {% endif %}
                </a></p>
            {% endfor %}
            <a href="{{ url_for('resolve') }}"><button class="bg-yellow text-black">Resolve Requests</button></a>
        {% endif %}

    {% else %}
        <h4>Contact Me</h4>
        <div class="row">
            <div class="col-md-4">
                <form action="" method="post">
                    {{ contact.hidden_tag() }}
                    <p>
                        {{ contact.message.label }}<br>
                        {{ contact.message(cols="32", rows="5") }}
                        {% for error in contact.message.errors %}
                            <span style="color:red">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ contact.send(class="bg-yellow text-black") }}
                    </p>
                </form>
            </div>
        </div>
    {% endif %}
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}