{% extends 'bootstrap/base.html' %}

    {% block title %}
        {% if title %}
            <title>{{ title }} - Mentor Match</title>
        {% else %}
            <title>Welcome to Mentor Match</title>
        {% endif %}
    {% endblock %}

    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Mentor Match</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if current_user.is_anonymous %}
                        <li><a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        <li><a class="nav-item nav-link" href="{{ url_for('account', username=current_user.username) }}">Account</a></li>
                        <li><a class="nav-item nav-link" href="{{ url_for('search') }}">Search</a></li>
                        <li><a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% endblock %}

        {% block content %}
            <div class="container">

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <ul>
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                    </ul>
                {% endfor %}
                {% endif %}
                {% endwith %}

                {% block app_content %}{% endblock %}
            </div>

        {% endblock %}


