{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <h1>Add New Course</h1>
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.existing_dept.label }}<br>
                    {{ form.existing_dept }}
                </p>
                <p>
                    {{ form.new_dept_name.label }}<br>
                    {{ form.new_dept_name(size=32) }}
                    {% for error in form.new_dept_name.errors %}
                        <span style="color:red">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.new_dept_abbr.label }}<br>
                    {{ form.new_dept_abbr(size=32) }}
                    {% for error in form.new_dept_abbr.errors %}
                        <span style="color:red">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.number.label }}<br>
                    {{ form.number(size=20) }}
                    {% for error in form.number.errors %}
                        <span style="color:red">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(size=32) }}
                    {% for error in form.name.errors %}
                        <span style="color:red">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.submit(class="bg-yellow text-black") }}
                </p>
            </form>
        </div>

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='newDept.js') }}"></script>

{% endblock %}