<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}


{% block app_content %}
    <h1>Search Results</h1>

<p>{{department.name}}<br>{{course.name}}</p>


    {% if mentors|length > 0 %}

        {% for mentor in mentors  %}


            <div><p><a href="{{url_for('account',username=mentor.username)}}">


                {% if mentor.name %}
                    {{ mentor.name }}<br>
                    {{mentor.bio}}
                {% else %}
                    {{ mentor.username }}
                {% endif %}
            </a></p></div>

        {% endfor %}

    {% else %}

        <h3>No Mentors for this Course</h3>

    {% endif %}

    <a href="{{ url_for('search') }}">New Search</a>

{% endblock %}