<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}


{% block app_content %}

<h1 class="font-allerta-stencil text-black">Search Results</h1>

    {% if mentors|length > 0 %}

        {% for mentor in mentors  %}

            <div><ul class="font-open-sans"><a href="{{url_for('account',username=mentor.username)}}">
                <li class="navbar-font">{% if mentor.name %}
                    {{ mentor.name }}
                {% else %}
                    {{ mentor.username }}
                {% endif %}</li>
            </a></ul></div>

        {% endfor %}

    {% else %}

        <h3>No Mentors for this Course</h3>

    {% endif %}

    <a href="{{ url_for('search') }}"><button class="bg-yellow text-black">New Search</button></a>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}